html{
	font-family: 	"Source Sans Pro", "Arial", "Helvetica Neue", "Helvetica", "sans-serif";
}
h1{
	color: #61892f;
	font-size: 24px;
	line-height: 26px;
	font-weight: 600;
	clear: right;
	margin-bottom: 0px;
}
h2{
	color: 	#61892f;
	font-size: 20px;
	line-height: 20px;
	font-weight: bold;

}
h3{
	color: #61892f;
}
h4{
	color: #61892f;
}
p{
	color: 	#cecece;
	font-size: 14px;
	line-height: 20px;
	font-weight: 300;
	margin: 10px;
	max-width: 960px;
}
figure{
	float: right;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 0px;
	margin-bottom: 0px;
}
nav{
	background-color: #474b4f;
	padding: 14px;
	margin-bottom: 20px;
	border-radius: 5px;
}
/* Door een spatie toe te kennen worden enkel de tags a in nav aangepast */
nav a{
	color: #cecece;
	background-color: #61892f;
	padding: 10px;
	margin-right: 10px;
	margin-top: 2px;
	margin-bottom: 2px;
	text-decoration: none;
	border-radius: 5px;
}
nav a:visited{
	color: #cecece;
}
a:link{
	color:#86C232;
}
a:visited{
	color:#61892f;
}
nav h1{
	float: right;
	color: #61892f;
	font-size: 24px;
	line-height: 15px;
	font-weight: 600;
	clear: right;
	margin-bottom: 0px;
	margin-top: 0px;
}
.caption{
	color: 	#ec0606;
	font-size: 14px;
	line-height: 20px;
	font-weight: 300;
	width: 960px;
	margin-top: 0px;
}
.bgcolor{
	background-color: #222629;
	color: #cecece;
	margin: 10px;
}
.btn{
	background-color: #F4976C;
}

