html{
	font-family: 	"Source Sans Pro", "Arial", "Helvetica Neue", "Helvetica", "sans-serif";
}
h1{
	color: #61892f;
	font-size: 24px;
	line-height: 26px;
	font-weight: 600;
	clear: right;
	margin-bottom: 0px;
}
h2{
	color: 	#61892f;
	font-size: 20px;
	line-height: 20px;
	font-weight: bold;

}
.firstTitle{
	margin-top: 0px;
}
h3{
	color: #61892f;
}
h4{
	color: #61892f;
	margin-left: 10px;
}
p{
	color: 	#cecece;
	font-size: 14px;
	line-height: 20px;
	font-weight: 300;
	margin: 10px;
	max-width: 960px;
}
figure{
	float: right;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 20px;
	margin-bottom: 0px;
}
table, th, tr, td{
	border: 1px solid #86C232;
	border-collapse: collapse;
	padding: 10px;
}
nav{
	background-color: #474b4f;
	padding: 14px;
	margin-top: 5px;
	margin-bottom: 10px;
	border-radius: 5px;
}
/* Door een spatie toe te kennen worden enkel de tags a in nav aangepast */
nav a{
	color: #cecece;
	background-color: #61892f;
	padding: 10px;
	margin-right: 10px;
	margin-top: 2px;
	margin-bottom: 2px;
	text-decoration: none;
	border-radius: 5px;
}
nav a:link{
	color: #cecece;
}
nav a:hover{
	background-color: #86C232;
	color: #222629;
}
nav a:visited{
	color: #cecece;
}
nav a:visited:hover{
	color: #222629;
}
#btnvisited{
	color: #222629;
	background-color: #86C232;
	text-decoration: underline;
}
a:link{
	color:#86C232;
}
a:visited{
	color:#61892f;
}

nav h1{
	float: right;
	color: #61892f;
	font-size: 24px;
	line-height: 15px;
	font-weight: 600;
	clear: right;
	margin-bottom: 0px;
	margin-top: 0px;
}
.mainlayout{
	background-color: #222629;
	color: #cecece;
	margin: 10px;
	max-width: 700px;
	margin: auto;
}

.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}
/* Form css */
form{
	margin-top: 10px;
	display: grid;
	column-gap: 10px;
	row-gap: 5px;
	columns: 4;
}
form input{
	width: 295px;
	max-width: 295px;
}
form textarea{
	padding: none;
	max-width: 295px;
	min-width: 295px;
}
form label{
	margin-left: 20px;
}
.formInput1{
	grid-column: 2;
	grid-row: 1;
}
.formLabel1{
	grid-column: 1;
	grid-row: 1;
}
.formInput2{
	grid-column: 2;
	grid-row: 2;
}
.formLabel2{
	grid-column: 1;
	grid-row: 2;
}
.formInput3{
	grid-column: 2;
	grid-row: 3;
}
.formLabel3{
	grid-column: 1;
	grid-row: 3;
}
.formInput4{
	grid-column: 2;
	grid-row: 4;
}
.formLabel4{
	grid-column: 1;
	grid-row: 4;
}
form button{

	color: #cecece;
	background-color: #61892f;
	border: none;
	border-radius: 5px;
	display: inline-block;
	cursor: pointer;
}
form button:hover{
	background-color: #86C232;
	color: #222629;
}
.resetBtn{
	grid-column: 3;
	grid-row: 3;
}
.submitBtn{
	grid-column: 3;
	grid-row: 4;

}


